.container {
  position: relative;
  top: 250px;
  /* left: -13%; */
  outline: #034748 5px solid;
  box-shadow: 10px 10px 5px grey;
}

.enlarge {
  margin: 16px 8px 8px 8px;
  box-shadow: 10px 10px 5px grey;
  vertical-align: middle;
  border-radius: 8px;
}

h1 {
  position: absolute;
  left: 0%;
  top: 28%;
}

/* .enlarge {

} */
