.login-form {
  position: absolute;
  top: 70%;
  right: 10%;
  z-index: 1;
}

.bkg-photo {
  z-index: 0;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bkg {
  background-color: black;
}

.login-btn {
  background-color: #555;
  color: white;
  font-size: 24px;
  font-family: "Special Elite", cursive;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
  width: 200px;
}

.login-btn:hover {
  background-color: black;
  text-decoration: none;
}

.dev-cred {
  color: gray;
  text-align: center;
  margin-bottom: 7px;
}

a:hover {
  color: skyblue;
  background-color: white;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: black;
  text-decoration: none;
}
