.app {
  margin-top: 0px;
}

.logo {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
}

.bkg-photo {
  width: 100%;
  height: auto;
}

.btn-container {
  width: 100%;
  z-index: 1;
  margin-top: 0px;
}

.btn-container img {
  width: 100%;
  height: auto;
}

.btn-container .btn {
  position: absolute;
  top: 90%;
  left: 50%;
}

.btn  {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 24px;
  font-family: "Special Elite", cursive;
  padding: 24px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-login {
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  background-color: #555;
  color: white;
  font-size: 24px;
  font-family: "Special Elite", cursive;
  padding: 24px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-container .btn:hover {
  background-color: black;
}

.dev-cred {
  color: gray;
  text-align: center;
}

a:hover {
  color: skyblue;
  background-color: white;
}

a:visited {
  color: gray;
  background-color: black;
}

footer {
  margin-top: 10px;
  margin-bottom: 7px;
}
