/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  background-color: white;
  text-align: center;
}

.main-header {
  background-color: rgb(7, 80, 7);
  color: whitesmoke;
  padding: 15px;
  font-family: "Luckiest Guy", cursive;
  font-size: 36px;
  margin-top: 0px;
}

.logo {
  height: 200px;
  width: 200px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
